<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
	<script src="src/jquery-linedtextarea.js"></script>
	<link href="public/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>

<textarea class="lined" rows="20" cols="60">
</textarea>

<script>
$(function() {
	$(".lined").linedtextarea();
});
</script>

</body>
</html>
